@model List<string>
@{
    ViewData["Title"] = "List of the files";
}



<div class="mainPane">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>List</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (string s in Model)
            {
                <tr>
                    <td>
                        @s
                    </td>
                    <td>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>