@model List<string>
@{
    ViewData["Title"] = "List of the files";
}




<table class="table table-striped">
    <thead>
        <tr>
            <th>List</th>
        </tr>
    </thead>
    <tbody>
        @foreach (string s in Model)
        {
            <tr>
                <td>
                    @s
                </td>
            </tr>
        }
    </tbody>
</table>