@{
    ViewData["Title"] = "Home Page";
}

<div class="mainPane">
    <button id="DropboxButton" class="btn btn-success">Dropbox</button>
    <div id="DropboxForm">
        <form action="/Home/Access" method="post">
            <div class="form-group">
                <label for="dropboxToken">Access Token</label>
                <input class="form-control" name="dropboxToken" placeholder="Token" required>
            </div>
            <button type="submit" class="btn btn-primary">Configure</button>
        </form>
    </div>

    <hr/>

    <button id="GDriveButton" class="btn btn-success">GDrive</button>
    <div id="GDriveForm">
        <form action="" method="post">
            <div class="form-group">
                <label for="gDriveEmail">Email</label>
                <input type="email" class="form-control" id="gDriveEmail" placeholder="Email" required>
            </div>
            <div class="form-group">
                <label for="gDrivePassword">Password</label>
                <input type="password" class="form-control" id="gDrivePassword" placeholder="Password" required>
            </div>

            <button type="submit" class="btn btn-primary">Configure</button>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#DropboxButton").click(function () {
            $("#DropboxForm").toggle(500);
        });
        $("#GDriveButton").click(function () {
            $("#GDriveForm").toggle(500);
        });
    });
</script>
